<div>
  <h1 class="font-bold text-4xl">Cookies</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @cookies.each do |cookie| %>
      <div class="bg-white shadow-md rounded-lg p-6">
        <%= cookie.name %>
        <%= cookie.description %>
        <%= cookie.price %>
      </div>
    <% end %>
  </div>
</div>
 